@font-face {
	font-family: Outfit;
	src: url(fonts/outfit-v5-latin-regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: Outfit;
	src: url(fonts/outfit-v5-latin-700.woff);
	font-weight: bold;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(213, 225, 239);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 228px;
	height: 354px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

img {
	max-height: 206px;
	border-radius: 7px;
	margin-top: 12px;
}

.container__text {
	margin-top: 12px;
	width: 80%;
	text-align: center;
	font-family: Outfit;
}

.container__text-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.container__text-paragraph {
	color: #888;
	font-size: 11px;
}
