body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: darkorchid;
	font-family: arial;
	font-size: 11px
}

.form-container {
	background-color: white;
	width: 80%;
	border-radius: 10px;
	overflow: hidden;
	height: 90%;
	display: flex;
	align-items: center;
}

.form-container .login-container {
	width: 250px;
	margin: 0 auto;
}

.form-container .login-container h2 {
	margin-top: 9px;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1rem;
}


.form-container .login-container > p,
.form-container .login-container > span {
	text-align: center;
	color: #555;
	font-size: 14px
}

.form-container .login-container label {
	display: block;
	font-weight: bold;
	padding: 5px 0;
}

.form-container .login-container input.input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 3px;
	border: solid 1px #ccc;
	border-radius: 5px;
	outline: none;
}

.form-container .login-container input.input:focus {
	outline: solid 2px #09f;
}

.form-container .login-container .options {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-container a {
	color: #09f;
	text-decoration: none;
}

.form-container a:hover {
	text-decoration: underline;
}

.form-container .login-container .providers {
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
	margin-top: 30px;
	font-size: 14px
}

.btn {
	border: none;
	padding: 7px 0;
	width: 100%;
	font-weight: bolder;
	display: block;
	color: white;
	border-radius: 3px;
}

.btn:nth-child(n+2) {
	padding: 3px 0 0;
	font-size: 20px;
}

.btn.btn-login {
	background-color: black;
}

.btn.btn-login:hover {
	background-color: #333;
}

.btn.btn-google {
	background-color: white;
	color: black;
	border: 1px solid #aaa;
}

.btn.btn-google:hover {
	background-color: rgb(240, 240, 240);
}

.btn.btn-facebook {
	background-color: rgb(8.4624, 69.392, 182.79);
}

.btn.btn-facebook:hover {
	background-color: rgb(7.052, 57.826, 152.32);
}

.btn.btn-twitter {
	background-color: rgb(10, 168, 216);
}

.btn.btn-twitter:hover {
	background-color: rgb(9, 155, 199);
}

.form-container .welcome-screen-container {
	width: 50%;
	background-color: black;
	background-image: url("paisaje.jpg");
	background-size: cover;
	height: 100%
}

@media screen and (max-width: 770px) {
	.form-container {
		width: 95%;
	}

	.form-container .login-container {
		width: 200px;
		margin: 0 auto;
	}

	.form-container .welcome-screen-container {
		width: 40%;
	}
}

@media screen and (max-width: 630px) {

	.form-container .login-container {
		width: 300px;
	}

	.form-container .welcome-screen-container {
		display: none;
	}
}

@media screen and (max-width: 370px) {

	.form-container .login-container {
		width: 250px;
	}
}

@media screen and (min-width: 1200px) {

	.form-container .login-container {
		width: 400px;
	}
}