:root {
	--line-color: #558bff;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(30, 30, 52);
	font-family: arial;
	color: white;
}

.comments-container {
	width: 800px;
	margin: 100px auto;
}

.comments-container > .comment {
	margin-bottom: 10px;
}

.comments-container .comment {
	display: flex;
}

.comments-container .comment .line {
	position: relative;
	width: 10px;
	height: 50%;
	border-radius: 0 0 0 8px;
	border-left: 1px solid var(--line-color);
	border-bottom: 1px solid var(--line-color);
}

.comments-container .comment .comment-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.comments-container .comment .comment-wrapper .content {
	width: 100%;
	display: flex;
	border: 1px solid var(--line-color);
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(24, 43, 80)
}

.comments-container .comment .comment-wrapper .content .comment-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.comments-container .comment .comment-wrapper .content .comment-info .header .username {
	font-weight: bold;
}

.comments-container .comment .comment-wrapper .content .comment-info .header .date {
	color: #bbb;
}

.comments-container .comment .comment-wrapper .content .comment-info .actions {
	display: flex;
	gap: 5px;
}

.comments-container .comment .comment-wrapper .content .comment-info .actions button {
	
	border: none;
	background-color: transparent;
	color: var(--line-color);
	padding: 5px;
	border-radius: 3px;
	gap: 5px;
}

.comments-container .comment .comment-wrapper .content .comment-info .actions button:hover {
	color: #fff;
	background-color: var(--line-color);
}


.comments-container .comment .comment-wrapper .content img {
	border-radius: 50%;
	width: 50px;
	padding-right: 10px;
}

.comments-container .comment .replies {
	padding-top: 10px;
	position: relative;
	padding-left: 35px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.comments-container .comment .replies::before {
	content: "";
	position: absolute;
	background-color: var(--line-color);
	width: 1px;
	top: 0;
	height: calc(100% - 53px);
}

