@font-face {
	font-family: Poppins;
	src: url("./fonts/poppins-v20-latin-200.woff");
	font-weight: 200;
}

@font-face {
	font-family: Poppins;
	src: url("./fonts/poppins-v20-latin-regular.woff");
}

@font-face {
	font-family: Poppins;
	src: url("./fonts/poppins-v20-latin-600.woff");
	font-weight: 600;
}

*{
	margin: 0;
	padding: 0;
	font-family: Poppins;
	user-select: none;
}

body {
	height: 100vh;
	background-color: hsl(0, 0%, 98%);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.superior {
	text-align: center;
}

.superior__title {
	margin: 3rem 21rem .8rem;
	font-size: 1.5rem;
	font-weight: 200;
}

span {
	font-weight: 600;
}

.superior__text {
	font-size: .63rem;
	padding: 0 21rem;
	
	margin-bottom: 1.25rem;
	color: hsl(229, 6%, 66%);
}

.inferior {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.inferior__element {
	border-top: 3px solid hsl(180, 62%, 55%);
	background-image: url("./images/icon-supervisor.svg");
	background-repeat: no-repeat;
	background-size: 18%;
	background-position: 10.5rem 6.05rem;
	background-color: white;
	padding: 1.15rem 0 5.4rem 1.4rem;
	margin: 1.3rem .6rem;
	max-width: 13rem;
	border-radius: 5px;
	box-shadow: -.1rem .1rem 1rem hsla(229, 6%, 66%, .4);
}

.inferior__element__title {
	font-weight: 600;
	font-size: .8rem;
	margin-bottom: .5rem;
}

.inferior__element__text {
	font-size: .6rem;
	color: hsl(229, 6%, 66%);
	
}

.inferior__group .inferior__element:first-child {
	border-top: 3px solid hsl(0, 78%, 62%);
	background-image: url("./images/icon-team-builder.svg");
	box-shadow: 0rem .1rem 1rem hsla(229, 6%, 66%, .4);
}

.inferior__element:nth-child(2) {
	border-top: 3px solid hsl(34, 97%, 64%);
	background-image: url("./images/icon-karma.svg");
	box-shadow: 0rem .1rem 1rem hsla(229, 6%, 66%, .4);
}

.inferior__element:nth-child(3) {
	border-top: 3px solid hsl(212, 86%, 64%);
	background-image: url("./images/icon-calculator.svg");
	box-shadow: .1rem .1rem 1rem hsla(229, 6%, 66%, .4);
}

@media all and (max-width: 768px) {

	.superior__title {
		margin: 6rem 2rem .8rem;
	}

	.superior__text {
		font-size: .63rem;
		padding: 0 2.2rem;
		font-size: .95rem;
		margin-bottom: 4rem;
	}

	.inferior {
		justify-content: center;
		width: 100vw;
		margin-bottom: 4rem;
	}

	.inferior__element:first-child {
		margin: .65rem .6rem;
		width: 100vw;
	}

	.inferior__element:nth-child(3){
		margin-top: 0;
	}

}